.intercept-toast {
  white-space: pre-wrap;
}

.baize-chrome-tool-tool-bar {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 9999;
  padding: 8px 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
